.exercise-left-split {



    margin-top: 20px;
}

.exercise-right-split {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.exercise-alternatives-row-split {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


#parent-split {
    display: flex;

}

.exercise-altern-split {
    flex: 1;
}

.exercise.h4-split {
    color: rgb(255, 255, 255);
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}